<div class="agwho">
    <div class="whol">
        <div class="log"><B>Login page</B></div>
        <form>
            <div class="i1">
                <input type="text" placeholder="enter your username" class="b1">
            </div>
            <div class="i2">
                <input type="password" placeholder="enter your password here" class="b1">
            </div>
            <div class="buttonC"><button type="submit" class="button">Login</button>
            </div>
        </form>
        <div class="redir"> don't have an account <a routerLink="/registerF">Register here</a>
        </div>
    </div>
</div>
<div class="add">
    Copyrights 2021 || All rights reserved
</div>