.whole{
    margin-left: 40%;
    width:20%;
}
.signcen{
    text-align: center;
}
.main{
    margin-top: 25px;
    font-size: large;
    
}

.a1 input{
 width: 90%;   
 padding-right: 10px;
 padding-bottom: 10px;
}
.a1 ::placeholder{
    font-size:small;
}
.bOut{
    margin-top: 10px;
}
.buto{
    text-align: center;
    width: 260px;
    padding-bottom: 10px;
    background-color: rgb(49, 145, 255);
    border: none;
    
}
.routLo{
    margin-top: 10px;
    font-size: small;
    margin-left: 30px;
   
}
.sig{
    color: rgb(0, 102, 255);
    text-decoration: dashed;
    cursor: pointer;

}
.b1{
    color: red;
    font-size: small;
}
